<!--
    Olivia Ringhiser
	1/20/2020
	url: http://oringhiser.greenriverdev.com/328/dating/views/
	Description: home page for my dating website
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Truth Universally Acknowledged</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="/328/dating/styles/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <nav class="navbar">
        <span class="navbar-brand mb-0 h1 bg-secondary">A Truth Universally Acknowledged</span>
    </nav>
    <h1>Find Your Darcy</h1>

    <div class="row">
        <div class="col">
            <h2>It Is A Truth Universally Acknowledged...</h2>
            <p>Modern dating just isn't for everyone! Are you tired of Netflix and Chill and casual relationships? Are
                you ready for passionate confessions of love and long-term commitment? If you have ever been called a
                hopeless romantic, than ATUA is the dating site for you!</p>
            <h2>Testimonials</h2>
            <hr>
            <blockquote class="blockquote text-right">
                <p class="mb-0">I never thought I was "proper" enough of a girl to get a fairytale ending, but thanks to
                    this site, I met a man who likes me very much, just as I am. Take that, Mum!</p>
                <footer class="blockquote-footer">Bridget Jones, wife to Mark Darcy</footer>
            </blockquote>
            <blockquote class="blockquote text-right">
                <p class="mb-0">My entire life I've been obsessed with finding myself a Jane Austen-esque love affair,
                    and thanks to ATUA, my dreams have finally come true!</p>
                <footer class="blockquote-footer">Jane Hayes, engaged to Henry Nobley</footer>
            </blockquote>
            <blockquote class="blockquote text-right">
                <p class="mb-0">Both my elder sister and I met and married wonderful gentlemen through this service! And
                    they were even handsome and rich enough to please my traditional Indian mother.</p>
                <footer class="blockquote-footer">Lalita Bakshi, wife to Will Darcy</footer>
            </blockquote>
            <hr>
        </div>
        <div class="col">
            <img src="/328/dating/images/pemberley.jpg"
                 alt="a large, old fashioned English estate with a garden and fountain in front"
                 class="rounded">
            <p class="text-center">Although it's unlikely that any of your dates will happen at Pemberley Estate, we can
                guarantee that your partner will woo you as if you were in an Austen novel!</p>
            <img src="/328/dating/images/pridenotprej.png" alt="couples of various races and orientations holding pride flags,
            with the caption 'pride, not prejudice'" class="rounded">
            <p>We embrace true romantics of all identities</p>
        </div>
    </div>
    <a href="../views/profile.html" target="_blank" class="btn">Create A Profile!</a>

</div>

<script src="/305/bootstrap-tutorial/js/jquery.slim.min.js"></script>
<script src="/305/bootstrap-tutorial/js/popper.min.js"></script>
<script src="/305/bootstrap-tutorial/js/bootstrap.min.js"></script>
</body>
</html>

