<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Truth Universally Acknowledged</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="/328/dating/styles/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Raleway&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Find Your Darcy</h1>

    <div class="row">
        <div class="col">
            <h2>It Is A Truth Universally Acknowledged...</h2>
            <p>Modern dating just isn't for everyone! </p>
            <h2>Testimonials</h2>
            <blockquote class="blockquote text-right">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                    ante.</p>
                <footer class="blockquote-footer">Bridget Jones</footer>
            </blockquote>
            <blockquote class="blockquote text-right">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                    ante.</p>
                <footer class="blockquote-footer">Jane Hayes</cite></footer>
            </blockquote>
            <blockquote class="blockquote text-right">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                    ante.</p>
                <footer class="blockquote-footer">Lalita Bakshi</cite></footer>
            </blockquote>
        </div>
        <div class="col">
            <img src="/328/dating/images/pemberley.jpg"
                 alt="a large, old fashioned English estate with a garden and fountain in front">
            <p class="text-center">Although it's unlikely that any of your dates will happen at Pemberley Estate, we can guarantee
            that your partner will woo you as if you were in an Austen novel!</p>
        </div>
    </div>
    <a href="../views/profile.html" target="_blank" class="btn">Create A Profile!</a>

</div>

<script src="js/jquery.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>

