<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Austenland</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="/328/dating/styles/styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Title</h1>
    <img src="/dating/images/pemberley.jpg" alt="a large estate with a moat in front">
    <h2>Blah blah info</h2>

    <h3>Testimonials</h3>
    <blockquote>Quote One</blockquote>
    <blockquote>Quote Two</blockquote>
    <blockquote>Quote Three</blockquote>

    <a href="../views/profile.html" target="_blank">
        <button>Create A Profile!</button>
    </a>
</div>

<script src="js/jquery.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>

