<html>
<h1>Interests</h1>
<h2>Indoor Interests</h2>
<div class="form-check form-check-inline">
    <label>
        <input type="checkbox" class="form-check-input" name="indoor-interests" value="">
    </label><br>
</div>
<div class="form-check form-check-inline">
    <label>
        <input type="checkbox" class="form-check-input" name="indoor-interests" value="">
    </label><br>
</div>
<div class="form-check form-check-inline">
    <label>
        <input type="checkbox" class="form-check-input" name="indoor-interests" value="">
    </label><br>
</div>
<div class="form-check form-check-inline">
    <label>
        <input type="checkbox" class="form-check-input" name="indoor-interests" value="">
    </label><br>
</div>
<div class="form-check form-check-inline">
    <label>
        <input type="checkbox" class="form-check-input" name="indoor-interests" value="">
    </label><br>
</div>
<div class="form-check form-check-inline">
    <label>
        <input type="checkbox" class="form-check-input" name="indoor-interests" value="">
    </label><br>
</div>
<h2>Outdoor Interests</h2>
<div class="form-check form-check-inline">
    <label>
        <input type="checkbox" name="outdoor-interests" value="">
    </label><br>
</div>
<div class="form-check form-check-inline">
    <label>
        <input type="checkbox" name="outdoor-interests" value="">
    </label><br>
</div>
<div class="form-check form-check-inline">
    <label>
        <input type="checkbox" name="outdoor-interests" value="">
    </label><br>
</div>
<div class="form-check form-check-inline">
    <label>
        <input type="checkbox" name="outdoor-interests" value="">
    </label><br>
</div>
<div class="form-check form-check-inline">
    <label>
        <input type="checkbox" name="outdoor-interests" value="">
    </label><br>
</div