<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Truth Universally Acknowledged</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="/328/dating/styles/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <nav class="navbar bg-secondary">
                <span class="navbar-brand navbar-expand-lg h1 bg-secondary">
                    <a href="home.html" class="navbar-brand">A Truth Universally Acknowledged</a>
                </span>
    </nav>
    <h1>Interests</h1>
    <hr>
    <h3>Indoor Interests</h3>
    <div class="form-check form-check-inline">
        <label>
            <input type="checkbox" class="form-check-input" name="indoor-interests[]" value="reading">Reading
        </label><br>
    </div>
    <div class="form-check form-check-inline">
        <label>
            <input type="checkbox" class="form-check-input" name="indoor-interests[]" value="letter">Letter Writing
        </label><br>
    </div>
    <div class="form-check form-check-inline">
        <label>
            <input type="checkbox" class="form-check-input" name="indoor-interests[]" value="instrument">Playing an instrument
        </label><br>
    </div>
    <div class="form-check form-check-inline">
        <label>
            <input type="checkbox" class="form-check-input" name="indoor-interests[]" value="singing">Singing
        </label><br>
    </div>
    <div class="form-check form-check-inline">
        <label>
            <input type="checkbox" class="form-check-input" name="indoor-interests[]" value="sewing">Sewing
        </label><br>
    </div>
    <div class="form-check form-check-inline">
        <label>
            <input type="checkbox" class="form-check-input" name="indoor-interests[]" value="cooking">Cooking
        </label><br>
    </div>
    <h3>Outdoor Interests</h3>
    <div class="form-check form-check-inline">
        <label>
            <input type="checkbox" name="outdoor-interests[]" value="horseback">Horseback riding
        </label><br>
    </div>
    <div class="form-check form-check-inline">
        <label>
            <input type="checkbox" name="outdoor-interests[]" value="fencing">Swimming
        </label><br>
    </div>
    <div class="form-check form-check-inline">
        <label>
            <input type="checkbox" name="outdoor-interests[]" value="walking">Going on walks
        </label><br>
    </div>
    <div class="form-check form-check-inline">
        <label>
            <input type="checkbox" name="outdoor-interests[]" value="picknicking">Picknicking
        </label><br>
    </div>
    <div class="form-check form-check-inline">
        <label>
            <input type="checkbox" name="outdoor-interests[]" value="gardening">Gardening
        </label><br>
    </div>
    <div class="form-check form-check-inline">
        <label>
            <input type="checkbox" name="outdoor-interests[]" value="swimming">Swimming
        </label><br>
    </div>
</div>
</body>
</html>