<html>
<h1>Personal Information</h1>
<form>
    <div class="form-group form-inline" id="basic">
        <label for="first-name">First Name</label><input type="text" id="first-name"
                                                         class="form-control required-input"><br>
        <label for="last-name">Last Name</label><input type="text" id="last-name"
                                                       class="form-control required-input"><br>
    </div>
    <!--    AGE-->
    <h2>Gender</h2>
    <div class="form-check form-check-inline">
        <label>
            <input type="radio" name="gender" value="male">Male
        </label><br>
    </div>
    <div class="form-check form-check-inline">
        <label>
            <input type="radio" name="gender" value="female">Female
        </label><br>
    </div>
    <div class="form-check form-check-inline">
        <label>
            <input type="radio" name="gender" value="agender">Agender
        </label><br>
    </div>
    <div class="form-check form-check-inline">
        <label>
            <input type="radio" name="gender" value="nonbinary">Non-binary
        </label><br>
    </div>
    <div class="form-check form-check-inline">
        <label>
            <input type="radio" name="gender" value="genderqueer">Genderqueer
        </label><br>
    </div>
    <div class="form-check form-check-inline">
        <label>
            <input type="radio" name="gender" value="other">Other
        </label><br>
    </div>
    <fieldset class="form-group" id="contact">
        <label for="phone">Phone number</label>
        <input type="text" class="form-control required-input" name="phone-number" id="phone">
    </fieldset>
</form>
</html>
