body {
    background-image: url("/328/dating/images/parchment.jpg");
    background-size: cover;
    background-color: #DAC1A0;
    margin: 3em;
}

.blockquote-footer {
    color: #459AF5;
}

.btn {
    background-color: #459AF5;
    border: black 1px solid;
    border-radius: 15px;
    display: block;
    margin: auto;
    width: fit-content;
}

card {
    margin-bottom: 15px;
}

h1, h2, h3 {
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    color: #2D2F31;
}

fieldset {
    border: #2D2F31 2px solid;
    padding: 15px;
}

h1, h2 {
    text-align: center;
    color: #2D2F31;
}

.form-inline .form-control {
    margin-right: 20px;
}

hr {
    height: 5px;
    border-top: 3px dotted #9B8B2D;
}

img {
    width: 475px;
    height: auto;
    display: block;
    margin: auto;
}

.form-check label {
    font-weight: normal;
}

input, label, select {
    margin-right: 3px;
}

label {
    font-weight: bold;
}

nav {
    margin-bottom: 15px;
    width: 100%;
    float: left;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand a {
    color: #2D2F31;
}

p {
    font-family: 'Raleway', sans-serif;
    color: #2D2F31;
}
