<!--
    Olivia Ringhiser
	1/26/2020
	url: http://oringhiser.greenriverdev.com/328/dating/interests
	Description: part three of the sign up form for my dating website
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Truth Universally Acknowledged</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="/328/dating/styles/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <nav class="navbar bg-secondary">
                <span class="navbar-brand navbar-expand-lg h1 bg-secondary">
                    <a href="home.html" class="navbar-brand">A Truth Universally Acknowledged</a>
                </span>
    </nav>
    <h1>Interests</h1>
    <hr>
    <h3>Indoor Interests</h3>
    <form action="#" method="post">
        <div class="form-check form-check-inline">
            <label>
                <input type="checkbox" class="form-check-input" name="indoorInterests[]" value="reading">Reading
            </label><br>
        </div>
        <div class="form-check form-check-inline">
            <label>
                <input type="checkbox" class="form-check-input" name="indoorInterests[]" value="writing-letters">Letter Writing
            </label><br>
        </div>
        <div class="form-check form-check-inline">
            <label>
                <input type="checkbox" class="form-check-input" name="indoorInterests[]" value="playing-instrument">Playing an
                instrument
            </label><br>
        </div>
        <div class="form-check form-check-inline">
            <label>
                <input type="checkbox" class="form-check-input" name="indoorInterests[]" value="singing">Singing
            </label><br>
        </div>
        <div class="form-check form-check-inline">
            <label>
                <input type="checkbox" class="form-check-input" name="indoorInterests[]" value="sewing">Sewing
            </label><br>
        </div>
        <div class="form-check form-check-inline">
            <label>
                <input type="checkbox" class="form-check-input" name="indoorInterests[]" value="cooking">Cooking
            </label><br>
        </div>
        <h3>Outdoor Interests</h3>
        <div class="form-check form-check-inline">
            <label>
                <input type="checkbox" name="outdoorInterests[]" value="horseback-riding">Horseback riding
            </label><br>
        </div>
        <div class="form-check form-check-inline">
            <label>
                <input type="checkbox" name="outdoorInterests[]" value="fencing">Fencing
            </label><br>
        </div>
        <div class="form-check form-check-inline">
            <label>
                <input type="checkbox" name="outdoorInterests[]" value="walking">Going on walks
            </label><br>
        </div>
        <div class="form-check form-check-inline">
            <label>
                <input type="checkbox" name="outdoorInterests[]" value="picknicking">Picknicking
            </label><br>
        </div>
        <div class="form-check form-check-inline">
            <label>
                <input type="checkbox" name="outdoorInterests[]" value="gardening">Gardening
            </label><br>
        </div>
        <div class="form-check form-check-inline">
            <label>
                <input type="checkbox" name="outdoorInterests[]" value="swimming">Swimming
            </label><br>
        </div>
        <input type="submit" class="btn btn-success" value="Next">
    </form>
</div>
</body>
</html>