<!--
    Olivia Ringhiser
	1/26/2020
	url: http://oringhiser.greenriverdev.com/328/dating/interests
	Description: part three of the sign up form for my dating website
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Truth Universally Acknowledged</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="/328/dating/styles/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <nav class="navbar rounded">
                <span class="navbar-brand navbar-expand-lg h1">
                    <a href="/328/dating/" class="navbar-brand">A Truth Universally Acknowledged</a>
                </span>
    </nav>
    <h1>Interests</h1>
    <hr>
    <h3>Indoor Interests</h3>
    <form action="#" method="post">
        <div class="form-check form-check-inline">
            <repeat group="{{ @indoor }}" value="{{ @indoorOption }}">
                <label><input type="checkbox"
                              name="indoorInterests[]"
                              value="{{ @indoorOption }}"
                    <check if="{{ isset(@selectedIndoor) && in_array(@indoorOption, @selectedIndoor) }}">
                        checked="checked"
                    </check>
                    >{{ @indoorOption }}
                </label><br>
            </repeat>
        </div>
        <h3>Outdoor Interests</h3>
        <div class="form-check form-check-inline">
            <repeat group="{{ @outdoor }}" value="{{ @outdoorOption }}">
                <label><input type="checkbox"
                              name="outdoorInterests[]"
                              value="{{ @outdoorOption }}"
                    <check if="{{ isset(@selectedOutdoor) && in_array(@outdoorOption, @selectedOutdoor) }}">
                        checked="checked"
                    </check>
                    >{{ @outdoorOption }}
                </label><br>
            </repeat>
        </div>
        <input type="submit" class="btn btn-success" value="Next">
    </form>
</div>
</body>
</html>