<!--
    Olivia Ringhiser
	1/26/2020
	url: http://oringhiser.greenriverdev.com/328/dating/personal
	Description: part one of the sign up form for my dating website
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Truth Universally Acknowledged</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="/328/dating/styles/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <nav class="navbar bg-secondary">
                <span class="navbar-brand navbar-expand-lg h1 bg-secondary">
                    <a href="home.html" class="navbar-brand">A Truth Universally Acknowledged</a>
                </span>
    </nav>
    <div class="row">
        <div class="col">
            <h1>Personal Information</h1>
            <hr>
            <form action="#" method="post">
                <label for="first-name">First Name</label><input type="text" id="first-name"
                                                                 name="firstName" value="{{ @firstName }}"
                                                                 class="form-control required-input">
                <check if="{{ @errors['firstName'] }}">
                    <span class="err">{{ @errors['firstName'] }}</span>
                </check>
                <br>
                <label for="last-name">Last Name</label><input type="text" id="last-name" value="{{ @lastName }}"
                                                               name="lastName"
                                                               class="form-control required-input"><br>
                <check if="{{ @errors['lastName'] }}">
                    <span class="err">{{ @errors['lastName'] }}</span>
                </check>
                <br>
                <label for="age">Age
                    <input type="number" min="18" max="118" name="age" id="age" value="{{ @age }}"
                           class="form-control required-input">
                </label>
                <check if="{{ @errors['age'] }}">
                    <span class="err">{{ @errors['age'] }}</span>
                </check>
                <br>
                <label>Gender</label><br>
                <check if="{{ @errors['gender'] }}">
                    <span class="err">{{ @errors['gender'] }}</span>
                </check>
                <br>
                <div class="form-check form-check-inline">
                    <repeat group="{{ @gender }}" value="{{ @genderChoice }}">
                        <label><input type="radio"
                                      name="gender"
                                      value="{{ @genderChoice }}"
                            <check if="{{ @selectedGender == @genderChoice }}">
                                checked="checked"
                            </check>
                            >{{ @genderChoice }}
                        </label><br>
                    </repeat>
                </div>
                <div class="form-group form-inline">
                    <label for="phone">Phone number<br>
                        <input type="text" class="form-control required-input" name="phoneNumber" id="phone">
                    </label>
                    <check if="{{ @errors['phoneNumber'] }}">
                        <span class="err">{{ @errors['phoneNumber'] }}</span>
                    </check>
                </div>
                <input type="submit" class="btn btn-success" value="Next">
            </form>
        </div>
        <div class="col">
            <div class="card">
                <h1 class="card-title bg-secondary">Attention:</h1>
                <div class="card-body">
                    <p class="card-text">All information entered is protected by our privacy policy. Profile information
                        can only be viewed by others with your permission.</p><br>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
