<!--
    Olivia Ringhiser
	1/20/2020
	url: http://oringhiser.greenriverdev.com/328/dating/profile
	Description: part two of the sign up form for my dating website
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Up A Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="/328/dating/styles/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <nav class="navbar rounded">
                <span class="navbar-brand navbar-expand-lg h1">
                    <a href="/328/dating/" class="navbar-brand">A Truth Universally Acknowledged</a>
                    <a href="/328/dating/admin" class="nav-link">Admin</a>
                </span>
    </nav>
    <form action="#" method="post">
        <h1>Profile</h1>
        <hr>
        <div class="row">
            <div class="col">
                <label for="email">Email address</label>
                <input type="text" class="form-control required-input" name="email" id="email">
                <check if="{{ @errors['email'] }}">
                    <span class="err">{{ @errors['email'] }}</span>
                </check>
                <div class="form-group">
                    <label for="state">State</label>
                    <check if="{{ @errors['state'] }}">
                        <span class="err">{{ @errors['state'] }}</span>
                    </check>
                    <select class="form-control required-input" name="state" id="state">
                        <option value="select">Select</option>
                        <repeat group="{{ @states }}"
                                value="{{ @selectedState }}">
                            <option value="{{ @selectedState }}"
                            <check if="{{ @selectedState == @state }}">
                                selected="selected"
                            </check>
                            >{{ @selectedState }}
                            </option>
                        </repeat>
                    </select>
                </div>
                <label>Seeking</label><br>
                <div class="form-check form-check-inline">
                    <repeat group="{{ @genders }}" value="{{ @seekingOption }}">
                        <check if="{{ @errors['seeking'] }}">
                            <span class="err">{{ @errors['seeking'] }}</span>
                        </check>
                        <label><input type="checkbox"
                                      name="seeking[]"
                                      value="{{ @seekingOption }}"
                            <check if="{{ isset(@selectedSeeking) && in_array(@seekingOption, @selectedSeeking) }}">
                                checked="checked"
                            </check>
                            >{{ @seekingOption }}
                        </label><br>
                    </repeat>
                </div>
            </div>
            <div class="col">
                <label for="bio">Biography<br>
                    <textarea class="form-control" id="bio" name="bio" rows="10" cols="50"
                              placeholder="Tell us about yourself!"></textarea>
                </label>
            </div>
        </div>
        <input type="submit" class="btn btn-success" value="Next">
    </form>
</div>

<script src="/305/bootstrap-tutorial/js/jquery.slim.min.js"></script>
<script src="/305/bootstrap-tutorial/js/popper.min.js"></script>
<script src="/305/bootstrap-tutorial/js/bootstrap.min.js"></script>
</body>
</html>